<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Ingredients</title>
   <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
  <h1>Manage Ingredients</h1>

  
  <h2>All Ingredients</h2>
  <ul>
    <% ingredients.forEach(function(ingredient) { %>
      <li><%= ingredient.name %></li>
    <% }) %>
  </ul>

  
  <h2>Add a New Ingredient</h2>
  <form action="/ingredients" method="POST">
    <label for="name">Ingredient Name:</label>
    <input type="text" name="name" id="name" required>
    <button type="submit">Add Ingredient</button>
  </form>

  
  <a href="/recipes">Back to Recipes</a>
</body>
</html>
